<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Paralelos</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<header class="header">
  <div class="nav">
    <h1>🌈 Kinder Feliz</h1>

    <nav>
      <a href="index.html">Dashboard</a>
      <a href="paralelos.html">Paralelos</a>
      <a href="reportes.html">Reportes</a>
    </nav>
  </div>
</header>

<main class="main">
  <h2>Paralelos</h2>

  <table>
    <tr>
      <th>Paralelo</th>
      <th>Edad</th>
      <th>Docente</th>
    </tr>

    <tr>
      <td>Inicial A</td>
      <td>3 años</td>
      <td>Lic. Ana</td>
    </tr>

    <tr>
      <td>Inicial B</td>
      <td>4 años</td>
      <td>Lic. Carla</td>
    </tr>

    <tr>
      <td>Pre Kinder</td>
      <td>5 años</td>
      <td>Lic. Luis</td>
    </tr>
  </table>
</main>

<footer class="footer">
  Kinder Feliz © 2026
</footer>

</body>
</html>